services:
  nestjs-hexagonal-architecture-crud_db:
    image: mysql:8.0.44-oracle
    container_name: 'nestjs-hexagonal-architecture-crud_db'
    volumes:
      - ./data-docker/mysql/data:/var/lib/mysql
    ports:
      - '${DB_PORT}:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    # networks:
    #   - nestjs-hexagonal-architecture-crud
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5

  nestjs-hexagonal-architecture-crud_app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: 'nestjs-hexagonal-architecture-crud_app'
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ./generated:/app/generated
    ports:
      - '${PORT}:${PORT}'
    env_file:
      - .env
    depends_on:
      nestjs-hexagonal-architecture-crud_db:
        condition: service_healthy
    # networks:
    #   - nestjs-hexagonal-architecture-crud
# networks:
#   nestjs-hexagonal-architecture-crud:
#     driver: bridge
